/*POLICE*/
@font-face {
  font-family: "Blacklisted";
  src: url("assets/fonts/Blacklisted.ttf");
}

/*INDEX.HTML*/
h1 {
  font-size: 150px;
  font-family: "Blacklisted";
  text-align: center;
  color: #CA1414;
}

body {
    background-color: #272727;
}

/**/