/*POLICE*/
@font-face {
  font-family: "Blacklisted";
  src: url("/assets/fonts/Blacklisted.ttf");
}

/*INDEX.HTML*/
h1 {
  font-size: 6rem; /* Équivalent à 100px */
  font-family: "Blacklisted";
  text-align: left;
  color: #ca1414;
  margin-left: 4rem; /* Équivalent à 40px */
}

h2 {
  font-size: 3.125rem; /* Équivalent à 50px */
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-left: 4rem; /* Équivalent à 40px */
  color: white;


}

body {
  background-color: #272727;
}