@font-face {
  font-family: "Blacklisted";
  src: url("/assets/fonts/Blacklisted.ttf");
}
body {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  font-family: "Montserrat", sans-serif;
  text-align: center;
    margin-left: 2em;
}

h1 {
  font-size: 90px;
  font-family: "Blacklisted";
  text-align: left;
  color: #ca1414;
}

h2 {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-right: 150px;
  color: white;
  margin-top: -55px;
  margin-bottom: 100px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.option img {
  max-width: 100%; /* Ajuste la taille maximale des images à 100% de la largeur de l'élément parent */
  max-height: 300px; /* Définit une hauteur maximale pour les images */
  height: auto; /* Garantit que les images conservent leur proportion */
}

p {
  color: white;
  font-size: 20px;
}

.option input[type="radio"] {
    display: none; /* Masque le bouton radio par défaut */
}

.option {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-basis: calc(25% - 10px); /* Affiche les options comme des blocs */
}


.option label{
  color: white;
  font-size: 20px;
  display: block;
  padding: 10px 20px;
    margin: 0 auto;
    margin-top: 10px;
  background-color: #ca1414;
  border: none;
  border-radius: 5px;
    cursor: pointer;
    line-height: 2em;
   
}

.option input[type="radio"]:checked + label {
    background-color: white; /* Couleur de fond lorsque le bouton radio est sélectionné */
    color: #ca1414; /* Couleur du texte lorsque le bouton radio est sélectionné */
}

.button2 {
  padding: 20px 30px;
  background-color: white;
  color: #ca1414;
  text-decoration: none;
  border-radius: 5px;
}

.button2:hover {
  background-color: #ca1414;
  color: white;
}
