        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            width: 80%;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .buttons {
            display: flex;
            gap: 10px;
        }

        .photo {
            margin-top: 20px;
            max-width: 30%;
        }

        .text-lines {
            margin-top: 20px;
            flex: 1;
            padding-left: 20px;
            /* Ajout de marge à gauche pour l'espace entre la photo et le texte */
        }




        .diagram-container {
            overflow: auto;
        }