/*POLICE*/
@font-face {
  font-family: "Blacklisted";
  src: url("/assets/fonts/Blacklisted.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
}

.photo {
  margin-top: 20px;
  max-width: 15%;
}

.text-lines {
  margin-top: 20px;
  padding-left: 20px;
  color: white;
  font-size: 30px;
  flex: 1;
}

.diagram-container {
  overflow: auto;
}

.title-container {
  text-align: center; /* Pour centrer le titre */
}

.map-container {
  margin: 0 auto; /* Pour centrer horizontalement la carte et l'échelle de couleur */
  text-align: center; /* Pour centrer horizontalement le texte "Lieu de ses activités" */
  display: flex; /* Utilisation de flexbox pour centrer l'échelle de couleur */
  flex-direction: column; /* Aligner les éléments en colonne */
  align-items: center; /* Centrer les éléments horizontalement */
}


h1 {
  font-size: 100px;
  font-family: "Blacklisted";
  text-align: center;
  color: #ca1414;
}

.button1 {
  padding: 20px 30px;
  background-color: #ca1414;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button1:hover {
  background-color: white;
  color: #ca1414;
}

.button2 {
  padding: 20px 30px;
  background-color: white;
  color: #ca1414;
  text-decoration: none;
  border-radius: 5px;
}

.button2:hover {
  background-color: #ca1414;
  color: white;
}

p.surnom {
  color: #ca1414;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-right: 20px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: white;
}


#infos-scroll {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}